altgraph==0.17.2
astor==0.8.1
asyncio==3.4.3
click==7.1.2
colorama==0.4.4
dill==0.3.4
future==0.18.2
numpy==1.21.4
pefile==2021.9.3
pygame==2.1.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
python-dotenv==0.19.1
pywebio==1.4.0
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
sourceinspect==0.0.4
taichi==0.8.7
taichi-glsl==0.0.11
tornado==6.1
ua-parser==0.10.0
user-agents==2.2.0